- var heading = params && params.heading ? params.heading : ''
- var mainLink = params && params.mainLink ? params.mainLink : ''
- var domain = params && params.domain ? params.domain : 'www.example.com'
- var goodsTempl = params && params.cardVariant // cat.list.length % 2!== 0; // горизантальные карточки
- var bodyBg = params && params.bodyBg ? params.bodyBg : '#e6e7e8';
- var fontFamily = 'Arial, Helvetica, sans-serif';
- var primary = params && params.primary ? params.primary : '#337ab7';
- var rassrochka = null;